In [18]:
#to use sql first intall this module to enable magic command for sql
#!pip install ipython-sql

In [19]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
import pandas as pd
import sqlite3

con = sqlite3.connect("./blog/site.sqlite")

# Load the data into a DataFrame
user_df = pd.read_sql_query("SELECT * from User", con)
post_df = pd.read_sql_query("SELECT * from Post", con)

In [21]:
user_df.head()

,id,username,email,image_file,password
0,1,user,user@gmail.com,8cd242cdff67382b.jpg,$2b$12$fhyGDGXw.z5eJXyCyjT74.pAv5h7DM1PeYmRIcp...
1,2,user1,user1@gmail.com,default.jpg,$2b$12$Kch/YRXYrUfmQOkeF5DX9uZhU.z2YOtf3B/jw8Y...

In [22]:
post_df.head()

,id,title,date_posted,content,user_id
0,1,Tech Event,2021-09-01 04:15:34.146904,W e are hosting our first tech event,1
1,2,Tearchers Strike,2021-09-01 04:17:44.150695,There was a teachers strive in the eve of 1994...,2
2,3,Domant Mountain Erupts,2021-09-03 19:16:36.806228,It had become a norm that the mountain of Ukul...,1
3,4,This is My New Post,2021-09-03 20:52:01.317136,This is the new post that I was telling you ab...,1

In [23]:
for x in post_df.content:
    print(x)

W e are hosting our first tech event
There was a teachers strive in the eve of 1994 which lead to the rise of these laws.
It had become a norm that the mountain of Ukulu was long extinct to erupt and was termed dormant. Nature disputes this well believed saga.
This is the new post that I was telling you about.