In [4]:
#to use sql first intall this module to enable magic command for sql
#!pip install ipython-sql

In [5]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

In [3]:
import pandas as pd
import sqlite3

con = sqlite3.connect("./blog/site.sqlite")

# Load the data into a DataFrame
user_df = pd.read_sql_query("SELECT * from User", con)
post_df = pd.read_sql_query("SELECT * from Post", con)

In [4]:
user_df.head()

,id,username,email,image_file,password
0,1,user,user@gmail.com,default.jpg,$2b$12$fhyGDGXw.z5eJXyCyjT74.pAv5h7DM1PeYmRIcp...
1,2,user1,user1@gmail.com,default.jpg,$2b$12$Kch/YRXYrUfmQOkeF5DX9uZhU.z2YOtf3B/jw8Y...

In [5]:
post_df.head()

,id,title,date_posted,content,user_id
0,1,Tech Event,2021-09-01 04:15:34.146904,W e are hosting our first tech event,1
1,2,Tearchers Strike,2021-09-01 04:17:44.150695,There was a teachers strive in the eve of 1994...,2